#mst-card{
    background-color: rgb(77, 74, 74);
    padding-top: none;
    padding-left: 15px;
    padding-right: 15px;
    display: grid;
    grid-template-columns: 30% 70%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 0.5em;
    box-shadow: rgb(46, 45, 45) 5px 5px;

}

#card-image{
    width: 350px;
    border:2px solid black;
    border-radius: 0.3em;
    padding: 5px;
    position: relative;
    top:18%;
    
}

.card-title{
    font-size: 30px;
    color: blanchedalmond;
    
}

.card-location{
    color:white;
    font-size: 20px;
    margin-bottom: 10px;
}

#description{
    color: white;
}