#card-image{
    width: 350px;
    border-radius: 0.5em;
    border: solid black 1px;
    padding:3px
}

h1{
    margin-top: 20px;
    text-align: center;
    font-family: fantasy;
}

#card{
    background-color: rgb(206, 207, 204);
    padding:10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 25px;
    border: 1px solid black;
    border-radius: 0.5em;
    box-shadow: 5px 8px #888888;

}

#card-body{
    margin:20px;
}

